# mail4one.service

[Unit]
Description=Personal Mail server
Documentation=https://gitea.balki.me/balki/mail4one
After=network.target network-online.target
Requires=network-online.target

[Service]
User=mail4one
ExecStart=/usr/local/bin/mail4one --config /etc/mail4one/config.json

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes

StateDirectory=mail4one/certs mail4one/mails
StateDirectoryMode=0750
LogsDirectory=mail4one
WorkingDirectory=/var/lib/mail4one

ProtectSystem=strict
PrivateTmp=true
ProtectHome=yes
ProtectProc=invisible

[Install]
WantedBy=multi-user.target
